<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <title>MySpringMVC_LinkedIn</title>
</head>
<body>
<div class="row" layout:fragment="profile">
    <h2 class="indigo-text center">LinkedIn User Profile</h2>
    <p class="flow-text center" th:text="${profile_email}">profile_email</p>
</div>

<div class="row" layout:fragment="content">
    <h2 class="indigo-text center" th:text="|LinkedIn job results for ${keyword_search}|">search result</h2>
    <ul class="collection">
        <li class="collection-item avatar" th:each="job:${jobs_searched}">
            <img th:src="|pictures/job.png|" alt="" class="circle"/>
            <span class="title" th:text="|${job.title} : ${job.company} - ${job.location}|">job_info</span>
            <p th:text="${job.description}">job_desc</p>
        </li>
    </ul>
</div>
<script src="/webjars/jquery/2.1.4/jquery.js"></script>
<script src="/webjars/materializecss/0.96.0/js/materialize.js"></script>
</body>
</html>