<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <title th:text="#{resultPage.title}">Search results</title>
</head>
<body>

<div class="row" layout:fragment="content">
    <h4 class="indigo-text center" th:text="#{resultPage.profile.title}">LinkedIn User Profile</h4>
    <p class="flow-text center" th:text="${profileForm.email}" th:if="${profileForm.email}">profile_email</p>
    <h4 class="indigo-text center" th:text="|#{resultPage.search.title} ${keyword_search}|">search result</h4>
    <ul class="collection">
        <li class="collection-item avatar" th:each="job:${jobs_searched}">
            <img th:src="@{/pictures/job.png}" alt="" class="circle"/>
            <span class="title" th:text="|${job.title} : ${job.company} - ${job.location}|">job_info</span>
            <p th:text="${job.description}">job_desc</p>
        </li>
    </ul>
</div>
<script src="/webjars/jquery/2.1.4/jquery.js"></script>
<script src="/webjars/materializecss/0.96.0/js/materialize.js"></script>
</body>
</html>